.buttonY {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    color: #E8B51A;
    border: 2px solid transparent #E8B51A;
    background:  #FFFF;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
}

.buttonY:hover {
    border: 2px solid transparent  #FFFF;
    background: #F0CE66;
    color: #FFFF;
}

.buttonB {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid transparent #D8E2EB;
    background-color: #355069;
    color: #FFFF;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
}

.buttonB:hover {
    border: 2px solid transparent  #FFFF;
    background-color: #54789b;
}