.title {
    display: flex;
    width: 1276px;
    height: 198px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 1px;
    letter-spacing: 2.25px;
}

.description { 
    display: flex;
    width: 1222px;
    height: 320px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}  