@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&display=swap');



.spline-sans{
  font-family: "Spline Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.spline-sans {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}