@import url(font.css);


.contenedor{
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;
    right: 5%;
}

.titulo{
    color: #213242;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 0.0625rem;
    letter-spacing: 0.075rem;
    margin: 5rem 0 5rem 6rem;
}


.imagen{
    width: 1300px;
    height: 650px;
    border-radius: 0.625rem;
    box-shadow: 8px 8px 2px 0px rgba(0, 0, 0, 0.22);
}


