@import url(font.css);

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 116px;
    flex-shrink: 0;
    background: #FFF;
}

.navTopContainer{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    list-style: none;
    height: 100%;
    gap: 3rem;
}

.logo{
    width: 174px;
    height: 116px;
    flex-shrink: 0;
}

.navLinks{
    color: #314960;
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5px; 
    letter-spacing: 0.7px;
    text-decoration: none;
}

/* .navLinks:hover{
    border-bottom: #314960;
} */

.bag{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    fill: #314960;
    margin-inline: 1rem;
}

.boton{
    margin-right: 40px;
}