.sections-termscond {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.sections-termscond h1{
    font-size: 32px;
    margin-bottom: 3rem;
    text-align: center;
}

.sections-termscond section {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.sections-termscond span {
    margin-bottom: 3rem;
}

.termscond-2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    h3 {
        font-size: 24px;
    }
}

.fotomarketing {
    width: 925px;
    height: 530px;
    margin-right: 3rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ourhistory {
    width: 500px;
    height: 200px;
    margin-bottom: 4rem;
    line-height: 24px;
}

.contact {
    width: 500px;
    height: 200px;
}

.intro-spa {
    text-align: center;
    width: 900px;
    margin: auto;
    letter-spacing: 0.8px;
    line-height: 200%;
    margin-bottom: 4rem;

    h2 {
        margin-top: 8rem;
        font-size: 45px;
        font-weight: 800;
    }

    p {
        font-size: 16px;
    }
}

.h3-spa-title {
    margin-top: 3rem;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 24px;
}

.spa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;

    img {
        width: 640px;
        height: 400px;
    }

    p {
        width: 30%;
        letter-spacing: 0.8px;
        font-size: 16px;
        margin-left: 5rem;
        text-align: justify;
        line-height: 35px;
        color: #213242;
    }
}

.tratamientos {
    margin-top: 3rem;
    h3 {
        text-align: center;
        font-family: "Playfair Display";
        font-size: 24px;
        margin-bottom: 5rem;
    }

    span {
        width: 770px;
        height: 210px;
        border-top: 3px solid #B08912;
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    span:hover {
        cursor: pointer;
    }

    h5 {
        font-size: 16px;
        font-weight: 600;
    }

    p {
        font-family: "Spline Sans Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.8px;
    }
}

.tratamientos-container {
    display: grid;
    grid-template-columns: auto auto;
}

.spa-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios-spa img {
    width: 100%;
    margin: 0;
    margin-bottom: 15rem;
}

.horarios-container {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    width: 404px;
    height: 460px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    letter-spacing: 1.2px;
    line-height: 1px;

    button {
        margin-top: 2rem;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 3rem;
    }

    h4 {
        font-size: 16px;
        font-weight: 100;
    }

    svg {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 175%;
        height: auto;
    }

    .ourhistory {
        width: 330px;
        margin-left: -2rem;
    }
    
    .contact {
        width: 330px;
        margin-left: -2rem;
    }
}

@media screen and (max-width: 425px) {
    img {
        width: 280%;
        height: auto;
    }
}