.sections-termscond {
    display: flex;
    flex-direction: column;
    width: 61.25rem;
    margin-left: auto;
    margin-right: auto;
}

.sections-termscond h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.sections-termscond section {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.sections-termscond span {
    margin-bottom: 3rem;
}

.termscond-2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;

    h3 {
        font-size: 1.5rem;
    }
}

.fotomarketing {
    width: 57.813rem;
    height: 33.125rem;
    margin-right: 3rem;
    border-bottom-left-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
}

.ourhistory {
    width: 31.25rem;
    height: 12.5rem;
    margin-bottom: 4rem;
    line-height: 1.5rem;
}

.contact {
    width: 31.25rem;
    height: 12.5rem;
}

.intro-spa {
    text-align: center;
    width: 56.25rem;
    margin: auto;
    letter-spacing: 0.003rem;
    line-height: 200%;
    margin-bottom: 4rem;

    h2 {
        margin-top: 8rem;
        font-size: 2.813rem;
        font-weight: 800;
    }

    p {
        font-size: 1rem;
    }
}

.h3-spa-title {
    margin-top: 3rem;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.5rem;
}

.spa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;

    img {
        width: 40rem;
        height: 25rem;
    }

    p {
        width: 30%;
        letter-spacing: 0.05rem;
        font-size: 1rem;
        margin-left: 5rem;
        text-align: justify;
        line-height: 2.188rem;
        color: #213242;
    }
}

.tratamientos {
    margin-top: 3rem;
    h3 {
        text-align: center;
        font-family: "Playfair Display";
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }

    span {
        width: 48.125rem;
        height: 13.125rem;
        border-top: 3px solid #B08912;
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    span:hover {
        cursor: pointer;
    }

    h5 {
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-family: "Spline Sans Mono";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem;
        letter-spacing: 0.05rem;
    }
}

.tratamientos-container {
    display: grid;
    grid-template-columns: auto auto;
}

.spa-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios-spa img {
    width: 100%;
    margin: 0;
    margin-bottom: 15rem;
}

.horarios-container {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    width: 25.25rem;
    height: 28.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.075rem;
    line-height: 0.063rem;

    button {
        margin-top: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    h4 {
        font-size: 1rem;
        font-weight: 100;
    }

    svg {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 200px;
        height: auto;
    }

    .ourhistory {
        width: 340px;
        margin-left: -2rem;
        margin-bottom: 8rem;
    }
    
    .contact {
        width: 340px;
        margin-left: -2rem;
    }

    .spa-container p {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    img {
        width: 280%;
        height: auto;
    }
}