.fotomain {
    width: 100%;
    height: 763.591px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .fotomain {
        width: 185%;
        height: auto;
        
    }
}

@media screen and (max-width: 425px) {
    .fotomain {
        width: 338%;
        height: auto;
        
    }
}