// .bookingMenuBackground {
//   z-index: 2;
//   position: fixed;
//   bottom: 5vh;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   height: 20rem;
//   width: 100%;
//   transition: all 0.5s ease-in-out;
// }

// .bookingMenuBackground:hover {
//   bottom: -30%;
// }

.bookingMenuDiv {
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: -3vh;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-color: white;
}

.bookingArrive,
.bookingLeft,
.bookingNight,
.hosts,
.coupon {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--blue800);
}
.normalTextBooking {
  font-family: "SplineSansMono-Variable";
  width: 100%;
  text-align: left;
}
.inputCoupon {
  border: none;
  background-color: rgba(49, 73, 96, 0.25);
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
}
.subtitle {
  width: fit-content;
  color: var(--golden500);
}
.textDivBookingMenu {
  width: 95px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.iconCalendarDiv,
.iconSleepDiv,
.iconUserpDiv,
.iconDiscountpDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCalendar,
.iconMoon,
.iconPerson,
.iconCoupon {
  margin: auto;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.iconArrow {
  margin: auto;
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.iconBell {
  margin: auto;
  align-self: center;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.checkButton {
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--blue800);
  border-radius: 0.5rem;
}

.divideLine {
  width: 1px;
  height: 48px;
  background-color: var(--blue800);
}

// Phone Booking Menu

.phoneBookingMenu {
  display: none;
  z-index: 2;
  position: fixed;
  left: 45%;
  bottom: -2vh;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-color: white;
}

.phoneBookingDateDropdown {
  display: none;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  background-color: white;
}

@media screen and (max-width: 431px) {
  .bookingMenuDiv {
    display: none;
  }
  .phoneBookingMenu {
    display: flex;
  }
  .iconCalendar,
  .iconArrow,
  .iconMoon,
  .iconPerson,
  .iconCoupon,
  .iconBell,
  .normalTextBooking {
    width: 1.5rem;
    height: 1.5rem;
  }
  .phoneBookingDateDropdown {
    z-index: 2;
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 1vh;
    padding: 0.5rem 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: white;
    transition: all 0.3s ease;

  }
  .bookingNight {
    gap: 0.5rem;
  }
  .normalTextBooking {
    font-size: 1.3rem;
    text-align: center;
  }
  .checkButton {
    padding: 0.2rem 0.4rem;
  }
}
