.myDatePicker{
    width: 6rem;
    position: relative;
    font-size: 16px;
    border: none;
    font-family: "SplineSansMono-Variable";
    font-size: 1rem;
    color: var(--blue900);
    outline: none;
    cursor: pointer;
}