@import url(font.css);


.contenedor{
    width: 100%;
    height: 45rem;
    position: relative;
    margin-top: 8rem;
    margin-left: -4rem;
}

.contenedor div{
    margin-inline: 2rem;
    width: 100%;
    height: 97%;
    margin-top: 1rem;
}

.titulo{
    color: #213242;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.075rem;
    margin-bottom: 2rem;
    text-align: center;
}


.imagen{
    width: 48rem;
    height: 30rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 8px 8px 2px 0px rgba(0, 0, 0, 0.22);
}

.pieDeFoto{
    color: #213242;
    font-family: "Spline Sans Mono";
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.0625rem; 
    letter-spacing: 0.05rem;
    margin-left: 2rem;
}
