.carrouselRoomsContainer {
  width: 100%;
  position: relative;
}
.customPrevArrow,
.customNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}
.sliderRoom {
  position: relative;
  height: 50%;
}
/* custom arrows */
.customPrevArrow {
  cursor: pointer;
  scale: 1.5;
  left: 2rem;
  top: 50%;
  color: white;
}
.customNextArrow {
  cursor: pointer;
  scale: 1.5;
  right: 2rem;
  top: 50%;
  color: white;
}
.customPrevArrow:hover,
.customNextArrow:hover {
  color: var(--golden400);
  transition: all ease-in-out 0.2s;
}
/* custom arrows end */
/* images */
.imgCarrouselRoom {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  cursor: pointer;
}
.slideItem {
  position: relative;
}
.titleCarrouselRooms {
  position: absolute;
  bottom: 0%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.titleCarrouselRooms p {
  font-weight: 600;
  color: var(--blue600);
  font-size: 24px;
  letter-spacing: 1.2px;
}
/* images end */
/* card pop up */
.tarjeta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleCard {
  color: var(--blue700);
  font-size: 24px;
  letter-spacing: 1.2px;
}

.textCard {
  color: var(--blue900);
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  padding: 50px;
}

.textCardPhone {
  display: none;
  color: var(--blue900);
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  padding: 50px;
}

/* card pop up end */

.buttonCard {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 10px;
  border: 2px solid var(--blue700);
  background-color: var(--blue700);
  color: white !important;
  font-family: "SplineSansMono-Variable";
  text-decoration: none !important;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonCard:hover {
  border: 2px solid #ffff;
  background-color: #54789b;
  color: white !important;
}

@media screen and (max-width: 431px) {
  .carrouselRoomsContainer {
    height: max-content;
  }
  .customNextArrow {
    right: 1rem;
  }
  .customPrevArrow {
    left: 1rem;
  }
  .customNextArrow, .customPrevArrow {
    width: 30px;
    height: 30px;
  }
  .titleCarrouselRooms {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tarjeta {
    top: 40%;
    width: fit-content;
    height: max;
    padding: 0.2rem;
    gap: 1rem;
  }
  .titleCard {
    font-size: 18px;
  }
  .textCard {
    display: none;
  }
  .textCardPhone {
    display: block;
    border: none;
    font-size: 16px;
  }
}