
.carrouselRoomsContainer{
    width: 100%;
    height: 800px;
    background-color: aqua;
    position: relative;
}

.customPrevArrow, .customNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; 
  height: 50px; 
  cursor: pointer;
  z-index: 2;
}

.sliderRoom{
  position: relative;
}
.customPrevArrow {
  left: 20px;
  top: 50%;
}

.customNextArrow {
  right: 20px;
  top: 50%;
}
.imgCarrouselRoom {
    z-index: 1;
    position: relative;
}

.slideItem{
    position: relative;
}

.titleCarrouselRooms{
  width: 429px;
  height: 103px;
  position: absolute;
  bottom: 0%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); 
}

.titleCarrouselRooms p {
  font-weight: 600;
  color: #213242;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1px;
  font-family: "Spline Sans Mono", Helvetica;

}