.name-input,
.name-input * {
  box-sizing: border-box;
}
.name-input {
  display: flex;
  flex-direction: column;
  gap: 6.81px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: var(--black, #1c1b1f);
  text-align: left;
  font-family: var(
    --text-regular-font-family,
    "SplineSansMono-Regular",
    sans-serif
  );
  font-size: var(--text-regular-font-size, 16px);
  line-height: var(--text-regular-line-height, 24px);
  font-weight: var(--text-regular-font-weight, 400);
  position: relative;
}
.enter-username-placeholder {
  flex-shrink: 0;
  width: 476.87px;
  height: 61.31px;
  position: relative;
}
.label-bg {
  background: var(--grayscale-white, #ffffff);
  border-radius: 12.26px;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
  width: 476.87px;
  height: 61.31px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.72px 2.72px 0px rgba(0, 0, 0, 0.18);
}
.content {
  display: flex;
  flex-direction: row;
  gap: 6.81px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 13.62px;
  top: 13.62px;
}
.icons {
  flex-shrink: 0;
  width: 35.42px;
  height: 35.42px;
  position: relative;
}
.ellipse-10 {
  background: var(--blue-50, #d8e2eb);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
  width: 30.77%;
  height: 30.77%;
  position: absolute;
  right: 34.62%;
  left: 34.62%;
  bottom: 46.15%;
  top: 23.08%;
}
.ellipse-11 {
  background: var(--blue-50, #d8e2eb);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
  width: 61.54%;
  height: 34.62%;
  position: absolute;
  right: 19.23%;
  left: 19.23%;
  bottom: 7.69%;
  top: 57.69%;
}
.ellipse-9 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.enter-username {
  color: var(--blue-50, #d8e2eb);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16.349998474121094px;
  font-weight: 500;
  position: relative;
}
