.contact-panel-background {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.contact-footer-variants,
.contact-footer-variants * {
  box-sizing: border-box;
}
.contact-footer-variant {
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  height: fit-content;
  padding: 0.8rem;
  box-shadow: 0px -2.65px 7.94px -1.32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.header-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}
.title {
  margin: 0.5rem;
  color: var(--gray-900, #18181b);
  text-align: center;
  font-family: var(
    --title-large-font-family,
    "PlayfairDisplay-Bold",
    sans-serif
  );
  font-weight: var(--title-large-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.description {
  margin: 0;
  color: var(--gray-600, #52525b);
  text-wrap: balance;
  text-align: center;
  font-family: var(
    --text-large-font-family,
    "SplineSansMono-Regular",
    sans-serif
  );
  font-weight: var(--text-large-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.input-section {
  flex-shrink: 0;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.rectangle-9 {
  background: var(--grayscale-white, #ffffff);
  border-radius: 12.26px;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
  width: 313px;
  height: 61px;
  position: absolute;
  left: 0px;
  top: 84.05px;
  box-shadow: 0px 2.72px 2.72px 0px rgba(0, 0, 0, 0.18);
}
.mail-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12.26px;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
}
.email {
  display: flex;
  align-items: center;
  margin-left: 5px;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}
.mail {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.placeholder {
  color: var(--blue-50, #b1c5d8);
  text-align: left;
  font-family: var(
    --text-regular-font-family,
    "SplineSansMono-Regular",
    sans-serif
  );
  font-size: var(--text-regular-font-size, 16px);
  line-height: var(--text-regular-line-height, 24px);
  font-weight: var(--text-regular-font-weight, 400);
  position: relative;
  left: auto;
  border: none;
  width: 80%;
}

.placeholder::placeholder {
  color: var(--blue-50, #b1c5d8);
  text-align: left;
  font-family: var(
    --text-regular-font-family,
    "SplineSansMono-Regular",
    sans-serif
  );
  font-size: var(--text-regular-font-size, 16px);
  line-height: var(--text-regular-line-height, 24px);
  font-weight: var(--text-regular-font-weight, 400);
}

.placeholder:focus {
  outline: none;
}
.rectangle-8 {
  background: var(--grayscale-white, #ffffff);
  border-radius: 12.26px;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
  width: 313px;
  height: 61px;
  position: absolute;
  left: 0.38px;
  top: 0.05px;
  box-shadow: 0px 2.72px 2.72px 0px rgba(0, 0, 0, 0.18);
}
.user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12.26px;
  border-style: solid;
  border-color: var(--blue-200, #8aa8c4);
  border-width: 1.36px;
}
.user {
  display: flex;
  align-items: center;
  margin-left: 5px;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}
.supervisor-account {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.submit-button {
  background: var(--blue-300, #628bb1);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 1.36px 2.72px 2.72px 0px rgba(0, 0, 0, 0.4);
}
.submit-button:hover {
  cursor: pointer;
  background: var(--blue-200, #8aa8c4);
}
.submit-button:active {
  background: var(--blue-100, #b1c5d8);
}
.write-message {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--grayscale-white, #ffffff);
  text-align: left;
  font-family: "SplineSansMono-SemiBold", sans-serif;
  font-weight: 600;
  position: relative;
}

.contact-panel {
  position: fixed;
  margin: auto;
  display: flex;
}

.contact-panel-hidden {
  display: none;
}
