
.difuminado{
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.00) 10%, rgb(255, 255, 255) 95%);
    z-index: 2;
}
