@import url(font.css);

.footerContainer {
  background: #213242;
  width: 100%;
  height: 38rem;
  padding-inline: 2rem;
}

.footer {
  display: flex;
  width: 100%;
  height: 70%;
  padding-top: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nosotrosFooter,
.reservasFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  color: #fff;
  height: 100%;
}

.redesFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  color: #fff;
  height: 100%;
  cursor: pointer;
}

.downredes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.titulo {
  color: #fff;
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-top: 2rem;
}

.titulo:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: border-bottom-color 200ms ease-in-out 25ms,
    color 200ms ease-in-out 25ms;
}

.downcontacto,
.downreserva {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  height: 100%;
}

.links {
  color: #fff;
  font-family: "Spline Sans Mono", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.links:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: border-bottom-color 200ms ease-in-out 25ms,
    color 200ms ease-in-out 25ms;
}

.divisor {
  width: 6px;
  height: 25rem;
  background: #fff;
  margin-top: -0.2rem;
}

.svg {
  width: 40px;
  height: 40px;
  fill: #e8b51a;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 2rem;
  margin-top: 2rem;
  gap: 2rem;
}

.logo {
  width: 8rem;
  height: 100%;
  margin-left: 0.5rem;
  cursor: pointer;
}

.politicsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  height: 100%;
}

.politics {
  color: #fff;
  font-family: "Spline Sans Mono", monospace;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.politicstext {
  color: #66829b;
  font-family: "Spline Sans Mono", monospace;
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 50px;
  }

  .footerContainer {
    height: auto;
  }

  .divisor {
    width: 90%;
    height: 3px;
  }

  .nosotrosFooter,
  .reservasFooter,
  .redesFooter {
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .downredes,
  .downreserva,
  .downcontacto {
    align-items: center;
    gap: 1rem;
  }

  .titulo {
    margin-top: 0.2rem;
  }

  .bottomContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding: 1rem;
    margin-top: 4rem;
  }

  .placeholder {
    display: none;
  }
}

@media screen and (max-width: 431px) {
    .footerContainer {
        padding: 2rem;
    }    
}