@import url(App.css);

.home-container a:hover {
  text-decoration: underline;
  color: var(--golden200);
}

.home-container a:active {
  color: var(--golden100);
}

.home-container a:visited {
  color: var(--golden600);
}

.home-container {
  margin-bottom: 5rem;
}

.home-title {
  width: auto;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  top: 15%;
  padding-left: 5vw;
  z-index: 3;
}

.home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.home-title h1 {
  font-family: "PlayfairDisplay-Variable-Italic";
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.home-title h1,
.home-title p {
  color: rgb(255, 255, 255);
}

.home-title h1 {
  font-size: 3rem;
}

.home-subtitle {
  font-size: 1.5rem;
}

.home-title p {
  margin-top: 0.1rem;
}

.home-title a {
  margin-top: 0.1rem;
}

.divisor {
  width: 90vw;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.opiniones-clientes {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.opiniones-wrapper {
  background-image: url(../Assets/Img/background-sand-plants.jpg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.opiniones-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.opiniones-content h1 {
  margin: auto;
  width: 30vw;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  font-family: "FairplayDisplay-Variable";
  color: white;
  text-align: center;
}

.ver-mas {
  margin: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #213242;
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  color: white !important;
  text-align: center;
  text-decoration: none;
}

.ver-mas:hover {
  background-color: var(--golden300);
  text-decoration: none !important;
}
