@import url(/develhope-group-app/src/Assets/Fonts/font.css);

.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61.3125rem;
    flex-direction: column;
}

.contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray url(/src/Assets/img/tomate.png) 50% / cover no-repeat;
    z-index: -1;
    opacity: 0.5;
}

h3{
    color: #213242;
    font-family: "Playfair Display",sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 0.0625rem;
    letter-spacing: 0.075rem;
}

.contenedorGrande{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 61.375rem;
    height: 49.6875rem;
}

.descripcion1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59.75rem;
    height: 10rem;
    border-top: 3px solid #B08912; ;
}

.descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59.75rem;
    height: 6rem;
    border-top: 3px solid #B08912; ;
}

.texto{
    color:#213242;
    font-family: "Spline Sans Mono", monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.0625rem;
    letter-spacing: 0.05rem;
    width: fit-content;
}

.hora{
    display: block;
    color:#213242;
    font-family: "Spline Sans Mono", monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.05rem;
    width: fit-content;
}
