@import url(App.css);

.ReviewCard {
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  width: 15rem;
  height: fit-content;
  background: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.ReviewCard h2 {
  font-family: "PlayfairDisplay-Variable";
}

.ReviewCard p {
  font-family: "SplineSansMono-Variable";
  font-size: 1rem;
  color: black;
}