
:root {
    --color-primario: #213242;
    --color-primario-transparecia: #213242ce;
    --color-amarillo-transparencia: #b08812c0;
    --color-amarillo: #B08912;
}

.rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* max-width: 1200px; */
    gap: 5ch;
    margin-top: 5ch;
    margin-bottom: 5ch;
}
.sections_room{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
 margin-top: 5ch; 
}

.subNavContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    top: 6rem;
    left: 0;
    z-index: 4;
    background: white;
    position: absolute;
    border-top: 8px solid #314960;
    transition: all ease-in-out 1s;
}

.listContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    height: 100%;
    gap: 3rem;
    padding: 0;
}


.navlinks{
    color: #314960;
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5px; 
    letter-spacing: 0.7px;
    text-decoration: none;
    cursor: pointer;
}


.selected{
    color: #B08912;
    text-decoration: underline;
}