.submit-button {
  align-items: center;
  background-color: var(--blue-300);
  border-radius: 10.9px;
  display: flex;
  gap: 13.62px;
  height: 61.31px;
  justify-content: center;
  padding: 9.54px 14.99px;
  position: relative;
  width: 204.38px;
}

.submit-button .text-wrapper {
  color: var(--grayscalewhite);
  font-family: "Spline Sans Mono-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
