@import url(font.css);

body{
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.subNavContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    top: 6rem;
    left: 0;
    background: white;
    position: absolute;
    border-top: 8px solid #314960;
    transition: all ease-in-out 1s;
}

.listContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    height: 100%;
    gap: 3rem;
    padding: 0;
}


.divisor{
    width: 3px;
    height: 70%;
    background: #314960;
}

.dropdown{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 4rem;
    margin-left: -2rem;
    padding: 1rem 2rem 2rem 0.5rem;
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 4;
    transition: all ease-in-out 1s;
}   


.sublink{
    color: #314960;
    font-family: "Spline Sans", sans-serif;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    text-decoration: none;
}

.subtext{
    color: #314960;
    font-family: "Spline Sans", sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5px;
    letter-spacing: 0.65px;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.dropdownTitle{
    margin-right: 1rem;
    color: #314960;
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5px; 
    letter-spacing: 0.7px;
    text-decoration: none;
}

@media (max-width: 431px){

    .subNavContenedor{
        display: none;
    }
}