.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem;
  height: 33rem;
}

.title {
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2.25px;
  color: #213242;
}

.description {
  width: 90%;
  font-family: "Spline Sans Mono";
  color: #213242;
  text-align: center;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.05rem;
  height: fit-content;
}

@media (max-width: 431px) {
  .contenedor {
    height: max-content;
    margin: auto;
    gap: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}
