.button {
  align-items: center;
  display: flex;
  gap: 40.88px;
  justify-content: center;
  position: relative;
}

.button .cancel-button {
  all: unset;
  align-items: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13.62px;
  padding: 13.62px;
  position: relative;
}

.button .text-wrapper {
  color: var(--blue-300);
  font-family: var(--text-large-font-family);
  font-size: var(--text-large-font-size);
  font-style: var(--text-large-font-style);
  font-weight: var(--text-large-font-weight);
  letter-spacing: var(--text-large-letter-spacing);
  line-height: var(--text-large-line-height);
  margin-top: -1.36px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .submit-button {
  align-items: center;
  background-color: var(--blue-300);
  border-radius: 10.9px;
  box-shadow: 1.36px 2.72px 2.72px #00000066;
  display: flex;
  gap: 13.62px;
  height: 61.31px;
  justify-content: center;
  padding: 9.54px 14.99px;
  position: relative;
  width: 204.38px;
}

.button .div {
  color: var(--grayscalewhite);
  font-family: "Spline Sans Mono-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
