.componente-tarjeta {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #00000066;
  display: flex;
  flex-direction: column;
  height: 455px;
  justify-content: space-between;
  overflow: hidden;
  padding: 40px 20px;
  position: relative;
  width: 278px;
}

.componente-tarjeta .t-tulo {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  position: relative;
  width: 80.89px;
}

.componente-tarjeta .text-wrapper {
  color: #000000;
  font-family: var(--title-small-font-family);
  font-size: var(--title-small-font-size);
  font-style: var(--title-small-font-style);
  font-weight: var(--title-small-font-weight);
  letter-spacing: var(--title-small-letter-spacing);
  line-height: var(--title-small-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.componente-tarjeta .div-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: space-around;
  position: relative;
  width: 185px;
}

.componente-tarjeta .div {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: var(--text-small-font-family);
  font-size: var(--text-small-font-size);
  font-style: var(--text-small-font-style);
  font-weight: var(--text-small-font-weight);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.componente-tarjeta .fecha {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: var(--text-small-font-family);
  font-size: var(--text-small-font-size);
  font-style: var(--text-small-font-style);
  font-weight: var(--text-small-font-weight);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.componente-tarjeta .rating-scale-instance {
  flex: 0 0 auto !important;
}
