.icons {
  height: 26px;
  width: 26px;
}

.icons .overlap-group {
  position: relative;
}

.icons .polygon {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

.icons .ellipse {
  border-radius: 4px;
  height: 8px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 8px;
}

.icons .div {
  border-radius: 8px/4.5px;
  height: 9px;
  left: 5px;
  position: absolute;
  top: 15px;
  width: 16px;
}

.icons .ellipse-2 {
  border: 1px solid;
  border-radius: 13px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.icons.email {
  border: 1px solid;
  border-radius: 13px;
}

.icons.email.inactive {
  border-color: var(--grayscalemedium-gray);
}

.icons.email.active {
  border-color: var(--feedform-1primaryblue);
}

.icons.profile .overlap-group {
  border-radius: 13px;
  height: 26px;
}

.icons.email .overlap-group {
  border: 0.5px solid;
  border-radius: 1px;
  height: 10px;
  left: 6px;
  top: 8px;
  width: 14px;
}

.icons.email.inactive .overlap-group {
  background-color: var(--grayscalepale-gray);
  border-color: var(--grayscaledark-gray);
}

.icons.email.active .overlap-group {
  background-color: #50b7ff;
  border-color: #007bd1;
}

.icons.inactive .ellipse {
  background-color: var(--grayscaletinted-gray);
}

.icons.active .ellipse {
  background-color: #50b7ff;
}

.icons.inactive .div {
  background-color: var(--grayscaletinted-gray);
}

.icons.active .div {
  background-color: #50b7ff;
}

.icons.inactive .ellipse-2 {
  border-color: var(--grayscaledark-gray);
}

.icons.active .ellipse-2 {
  border-color: #50b7ff;
}
